*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.contenedor-barra{
    background-color: #a8e;
    display: inline-block;
    position: fixed;
    width: 99vw;
    height: 60px;
    outline: auto;
    top: 0px;

}

.btn-barra{
    background-color: #a6a;
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px;
    text-align: right;
    float: right;
    margin:10px;
    text-decoration: none;
    color:white;
}

.btn-barra:hover{
    background-color: white;
    color: #a6a;
}

.btn-comprar{
    padding: 7px;
    float:right;
    margin:10px;
    margin-right: 50px;
    color: white;
    background-color: gray;
    border-radius: 7px;
}

.btn-comprar:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

.cuadro{
    float: right;
    margin-right: 200px;
    padding: 10px;
}

div button{
    background-color: gray;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

div button:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div input{
    padding: 2px;
    text-align: center;
    background-color: #aaa;
}

div input:focus{
    background-color: white;
    color:gray;
} 

.contenedor-menu{
    background-color: #aaa;
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 60px;
    text-align: center;
}

#imagenIndex{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:100px;
}

.contenedor-img{
    padding: 30px;
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

#imagenIndex:hover{
    width: 220px;
    height: 220px;
    border-radius:150px;
}

.seleccionar{
    width: 200px;
    padding: 2px;
    margin: 5px;
    background-color: #aaa;
    color: white;
    border: 1px solid black;
    background: linear-gradient(to bottom,#aaa , #5c5c5c);
}

.contenedor-menu button{
    background-color: #5c5c5c;
    color: white;
    padding: 5px;
    margin: 15px;
    width: 130px;

}

.contenedor-menu button:hover{
    background-color: white;
    color: #5c5c5c;  
}

.contenedor{
    display: grid;
    grid-template-columns: 500px 500px;
    background-color: white;
    padding-top: 60px;
    width: 76vw;
    padding-left: 310px;
}

.contenido-n{
    display: flex;
    margin: 20px;
    background-color: #aaa;
    border:  3px solid black;
    width: 470px;
    height: 300px;
}
.titulo{
    padding: 3px;
    margin: 5px;
    text-align: center;
}

.contenedor-img-contenido{
    justify-content: center;
    margin: 10px;
    flex: 1;
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.contenedor-img-contenido img{
    width: 100%;
    height: 100%;
}

.contenedor-img-contenido img:hover{
    width: 300px;
    height: 300px;
}   

.contenedor-contenido{
    text-align: center;
    margin: 10px;
    flex: 2;
    height: 250px;
    width: 270px;
}

.contenedor-contenido textarea{
    text-align: center;
    margin: 10px;
    height: 120px;
    width: 240px;
    resize: none;
    background: transparent;
}

.contenedor-contenido textarea::placeholder{
    color: white;
}

.btn-compras-contenido{
    margin: 0 auto;
    width: 160px;
}

.btn-compras-contenido input{
    width: 150px;
    margin: 5px;
    color: white;
}

.btn-compras-contenido input::placeholder{
    color:white;
}





