*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;

}

.contenedor-barra{
    background-color: #a8e;
    display: inline-block;
    position: fixed;
    width: 99vw;
    height: 60px;
    outline: auto;
    top: 0px;
    top: 0px;
}

.btn-barra{
    background-color: #a6a;
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px;
    text-align: right;
    float: right;
    margin:10px;
    text-decoration: none;
    color:white;
}

.btn-barra:hover{
    background-color: white;
    color: #a6a;
}

.btn-comprar{
    padding: 7px;
    float:right;
    margin:10px;
    margin-right: 50px;
    color: white;
    background-color: gray;
    border-radius: 7px;
}

.btn-comprar:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div button{
    background-color: gray;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

div button:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div input{
    padding: 2px;
    text-align: center;
    background-color: #aaa;
}

div input:focus{
    background-color: white;
    color:gray;
} 

.contenedor-menu{
    background-color: #aaa;
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 60px;
    
}

#imagenIndex{
    width: 150px;
    height: 150px;

}

.contenedor-img{
    margin-left: 30px;
    padding: 30px;
    transition: 0.5s;
    width: 300px;
    height: 150px;
    margin-bottom: 75px;
}

#imagenIndex:hover{
    width: 200px;
    height: 200px;
}

.caja-opciones{
    height: 200px;
    margin: 5px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.btn{
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: gray;
    border: 2px white solid;
    border-radius: 7px;
    color: white;
}

.contenedor{
    display: inline-block;
    margin-top: 70px;
    margin-left: 310px;
    width: 77vw;
    height: 100vh;
    
}

.cuadro-articulos{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 1fr;
    max-width: 900px;
    background-color: aqua;
    margin: 20px;
    text-align: center;
    padding: 30px;
    border: 3px solid white;
    grid-gap: 1px;

}

.articulos{
    border: 2px solid #a8e;
}

.contenedor a{
    text-align: center;
    margin: 20px;
    border: 2px solid white;
    color: white;
    background-color: #a8e;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;

}