*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;


}

.contenedor-barra{
    background-color: #a8e;
    display: inline-block;
    position: fixed;
    width: 99vw;
    height: 60px;
    top: 0px;
}

.btn-barra{
    background-color: #a6a;
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px;
    text-align: right;
    float: right;
    margin:10px;
    text-decoration: none;
    color:white;
}

.btn-barra:hover{
    background-color: white;
    color: #a6a;
}

div button{
    background-color: gray;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

div button:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div input{
    padding: 2px;
    text-align: center;
    background-color: #aaa;
}

div input:focus{
    background-color: white;
    color:gray;
} 

.contenedor-menu{
    background-color: #aaa;
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 60px;
}

#imagenIndex{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius:100px;
}

.contenedor-img{
    padding: 30px;
    transition: 0.5s;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

#imagenIndex:hover{
    width: 220px;
    height: 220px;
    border-radius:150px;
}

.caja-opciones{
    height: 200px;
    margin: 5px;
    padding: 10px;
    width: 280px;
    text-align: center;
}

.btn{
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: gray;
    border: 2px white solid;
    border-radius: 7px;
    color: white;
}

.contenedor{
    display: flex;
    margin-left: 310px;
    width: 76vw;
    height: 99vh;
    margin-top: 70px;
}

.contenedor-foto{
    flex:1;
    margin: 20px;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 200px;
}

.contenedor-foto-contenido{
    margin: 30px;
    padding: 5px;
    background-color: black;

}

.contenedor-foto-contenido img{
    width: 200px;
    height: 300px;

}

.contenedor-datos{
    flex: 1;
    background-color: aqua;
    flex-wrap: wrap;
    margin: 10px;
    padding: 30px;
    text-align: center;
    width: 100px;
    height: 550px;
}

.contenedor div input{
    margin: 20px;
    padding: 5px;

}

.abajo{
    margin-bottom: 5px;
}
.contenedor-datos a{
    text-decoration: none;
    margin: 20px;
    color: white;
    border: 3px solid gray;
    background-color: #a8e;
    padding: 5px;
    border-radius: 7px;
}

