*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;

}

.contenedor-barra{
    background-color: #a8e;
    display: inline-block;
    position: fixed;
    width: 99vw;
    height: 60px;
    outline: auto;
}

.btn-barra{
    background-color: #a6a;
    border: 2px solid white;
    border-radius: 7px;
    padding: 7px;
    text-align: right;
    float: right;
    margin:10px;
    text-decoration: none;
    color:white;
}

.btn-barra:hover{
    background-color: white;
    color: #a6a;
}

.btn-comprar{
    padding: 7px;
    float:right;
    margin:10px;
    margin-right: 50px;
    color: white;
    background-color: gray;
    border-radius: 7px;
}

.btn-comprar:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div button{
    background-color: gray;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

div button:hover{
    background-color: white;
    color: gray;
    border-radius: 7px;
}

div input{
    padding: 2px;
    text-align: center;
    background-color: #aaa;
}

div input:focus{
    background-color: white;
    color:gray;
} 

.contenedor-menu{
    background-color: #aaa;
    display: inline-block;
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 60px;
    
}

#imagenIndex{
    width: 150px;
    height: 150px;

}

.contenedor-img{
    margin-left: 30px;
    padding: 30px;
    transition: 0.5s;
    width: 300px;
    height: 150px;
    margin-bottom: 75px;
}

#imagenIndex:hover{
    width: 200px;
    height: 200px;
}

.caja-opciones{
    height: 200px;
    margin: 5px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.btn{
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: gray;
    border: 2px white solid;
    border-radius: 7px;
    color: white;
}

.contenedor{
    display: inline-block;
    background-color: gray;
    width: 75vw;
    height: 100vh;
    margin-left: 310px;
    margin-top:70px;
}

.contenedor-img-contenido{
    text-align: center;
    background-color: blue;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 30px;
    margin-left: 340px;
}

.contenedor-contenido{
    display: grid;
    width: 500px;
    height: 300px;
    grid-template-rows: 30px f;
    margin: 0 auto;
    
}

.contenedor-contenido input{
    background: transparent;
    margin: 20px;
    margin-left: 40px;
    width: 400px;
    height: 30px;
    padding: 2px;
    border-bottom: 3px solid #1c7;
}

.contenedor-contenido input:focus{
    background-color: transparent;
    background: linear-gradient(to bottom, transparent,#333);
    color: white;
    margin: 20px;
    margin-left: 40px;
    width: 400px;
    height: 30px;
    padding: 2px;
    border-bottom: 3px solid #1c7;
}

.contenedor-contenido textarea{
    background: transparent;
    width: 400px;
    height: 200px;
    margin-left: 40px;
    padding: 10px;
    border-bottom: 3px solid #1c7;
    
}

.contenedor-contenido textarea:focus{
    background: linear-gradient(to bottom, transparent,#333);
    color: white;
}